<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col class="ion-text-center">
        <h3>Películas Nuevas</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-slideshow-backdrop [peliculas]="peliculasRecientes"></app-slideshow-backdrop>

  <ion-grid fixed>
    <ion-row>
      <ion-col class="ion-text-center">
        <h3>Cartelera</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-slideshow-poster [peliculas]="peliculasRecientes"></app-slideshow-poster>

  <ion-grid fixed>
    <ion-row>
      <ion-col class="ion-text-center">
        <h3>Populares</h3>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-slideshow-pares [peliculas]="populares" (cargarPeliculas)="cargarPeliculas()"></app-slideshow-pares>
</ion-content>